/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav #myLinks:hover a:hover {
  padding: 2rem;
  color: green;
  font-size: 2em;
  font-weight: bolder;
  background: linear-gradient(to right, skyblue 10%, yellow 45%, crimson 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1s;
}
nav img:hover {
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
  filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding: 2rem 1rem;
  width: auto;
  margin: 2px;
}
header div {
  padding: 2rem 0.2rem;
}
header div h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
header div p {
  font-size: 1rem;
}
@media (min-width: 375px) {
  header div {
    padding: 2rem 1rem;
  }
  header div h2 {
    font-size: 1.5rem;
  }
  header div p {
    text-align: center;
    font-size: 1.2rem;
  }
}
body {
  height: 100vh;
}
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page2 img {
  width: 30%;
  height: auto;
}
.page2 .about-me-bio2 {
  margin: 0 auto;
  width: 90vw;
}
.page2 .about-me-bio2 h2 {
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .page2 .about-me-bio2 {
    width: 40vw;
  }
}
/* button */
.button {
  box-shadow: inset 0rem 0.1rem 0rem 0rem #572723b7;
  background: linear-gradient(to bottom, #fc8d83 5%, violet 100%);
  background-color: #fc8d83;
  border-radius: 0.6rem;
  border: 0.1rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
.button:hover {
  background: linear-gradient(to bottom, #70e70e 20%, #7418b104 100%);
  background-color: #23cec060;
  color: #361025;
}
.button:active {
  position: relative;
  top: 0.1rem;
}
/* end of button 1*/
.button2 {
  box-shadow: inset 0rem 0.1rem 0rem 0rem #572723b7;
  background: linear-gradient(to bottom, #854a45 5%, violet 100%);
  background-color: #a85f58;
  border-radius: 0.6rem;
  border: 0.1rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
.button2:hover {
  background: linear-gradient(to top, #820dd1cb 10%, #7418b104 100%);
  background-color: #1e3f3c60;
  color: #50df0e;
}
.button2:active {
  position: relative;
  top: 0.1rem;
}
.fa-do a:hover {
  background-color: #23cec000;
  color: #f16392;
  text-decoration: none;
}
nav h1 {
  font-size: 1rem;
}
nav .top-nav {
  background-color: skyblue;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .menu-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav .menu-button #myLinks {
  display: none;
}
nav .menu-button .icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: skyblue;
}
nav .menu-button a {
  color: blue;
  padding: 1rem 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: lightgoldenrodyellow;
  height: auto;
  border-radius: 2rem;
}
nav .menu-button a :hover {
  color: purple;
}
nav .bottom-nav {
  background-color: skyblue;
  width: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .bottom-nav a {
  display: inline-block;
}
nav .bottom-nav .fa-do {
  font-size: 4rem;
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-between-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .horizontal-scroll {
  display: none;
}
main .top-row,
main .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .top-row ul,
main .bottom-row ul {
  padding: 4rem;
  box-sizing: border-box;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #myCarousel {
  height: auto;
  margin: 2rem 0 4rem 0;
}
main #myCarousel .carousel-inner img {
  height: 80%;
  width: auto;
}
@media (min-width: 768px) {
  main #myCarousel {
    display: none;
  }
}
#imgbox {
  vertical-align: middle;
  position: absolute;
  border: 1px solid #999;
  background: #FFFFFF;
  filter: alpha(opacity=100);
  visibility: hidden;
  height: 200px;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  text-align: center;
}
.vertical-scroll {
  display: none;
}
.vertical-scroll .top-row,
.vertical-scroll .bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical-scroll ul img {
  width: 24rem;
}
@media (min-width: 375px) {
  nav h1 {
    font-size: 1.2rem;
  }
}
@media (min-width: 425px) {
  nav h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  nav h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 375px) {
  nav .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .top-nav img {
    height: 10rem;
  }
}
@media (max-width: 425px) {
  nav .top-nav .search2 {
    display: none;
  }
}
@media (min-width: 768px) {
  nav .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 320px) {
  nav .menu-button #myLinks {
    position: absolute;
  }
}
@media (min-width: 425px) {
  nav .menu-button #myLinks a {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  nav .menu-button #myLinks a {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  nav .menu-button #myLinks a {
    font-size: 1.5rem;
  }
}
@media (min-width: 2560px) {
  nav .menu-button #myLinks a {
    font-size: 3rem;
  }
}
@media (max-width: 280px) {
  nav .menu-button a {
    display: block;
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  nav .menu-button a {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  nav .menu-button a {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  nav .menu-button a {
    font-size: 2.5rem;
  }
}
@media (min-width: 1440px) {
  nav .menu-button a {
    font-size: 3rem;
  }
}
@media (min-width: 1440px) {
  nav .menu-button a {
    font-size: 4rem;
  }
}
@media (min-width: 2560px) {
  nav .menu-button a {
    font-size: 5rem;
  }
  nav .menu-button a #mylinks {
    font-size: 0.08rem;
  }
}
@media (min-width: 375px) {
  .header div {
    padding: 2rem 1rem;
  }
  .header div h2 {
    font-size: 1.5rem;
  }
  .header div p {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (min-width: 425px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .header div {
    padding: 2rem 1rem;
  }
  .header div h2 {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
  .header div p {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .header div {
    padding: 2rem 1rem;
  }
  .header div p {
    text-align: center;
    width: 35rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header div {
    padding: 2rem 1rem;
  }
  .header div h2 {
    font-size: 2.5rem;
  }
  .header div p {
    text-align: center;
    width: 38rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 1440px) {
  .header div {
    padding: 2rem 1rem;
  }
  .header div p {
    text-align: center;
    width: 45rem;
    font-size: 2rem;
  }
}
@media (min-width: 2560px) {
  .header div {
    padding: 2rem 1rem;
  }
  .header div h2 {
    font-size: 4rem;
  }
  .header div p {
    text-align: center;
    width: 60rem;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .page2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .page2 img {
    margin: 2rem;
    width: 30%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .page2 img {
    margin: 0 0 2rem 5rem;
    width: 20%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .page2 .about-me-bio2 {
    font-size: 2rem;
    margin: 0 auto;
    width: 90vw;
  }
  .page2 .about-me-bio2 h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .page2 .about-me-bio2 {
    font-size: 3rem;
    margin: 0 auto;
    width: 90vw;
  }
}
@media (min-width: 768px) {
  .page2 .about-me-bio2 {
    width: 40vw;
  }
}
@media (max-width: 768px) {
  main {
    height: auto;
  }
}
@media (min-width: 768px) {
  main .horizontal-scroll {
    display: block;
  }
  main .horizontal-scroll img {
    width: 10rem;
  }
}
@media (min-width: 1024px) {
  main .horizontal-scroll img {
    width: 15rem;
  }
}
@media (min-width: 1440px) {
  main .horizontal-scroll img {
    width: 28rem;
  }
}
@media (min-width: 2560px) {
  main .horizontal-scroll img {
    width: 50rem;
  }
}
@media (min-width: 768px) {
  main .vertical-scroll {
    display: unset;
  }
  main .vertical-scroll .top-row,
  main .vertical-scroll .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  main .vertical-scroll img {
    display: block;
    width: 12rem;
  }
}
@media (min-width: 1024px) {
  main .vertical-scroll img {
    width: 15rem;
  }
}
@media (min-width: 1440px) {
  main .vertical-scroll img {
    width: 28rem;
  }
}
@media (min-width: 2560px) {
  main .vertical-scroll img {
    width: 50rem;
  }
}
