 /* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

    img, .row1 {
        flex-wrap: wrap;
        justify-content: space-between;
        display:flex;
        flex-direction: row;
        margin-left: inherit;
    }
    
header, nav, p, section, body{
    margin: 2px;
    border: 2px solid blue;
}
header, h1{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    font-size: 50px;
}
nav{
    padding-top: 5px;
    margin-bottom: 25px;
    background-color: lightgrey;
    font-size: 25px;
}
body, section, p{
    margin-bottom: 15px;
}

.toprow{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.left-big-picture{
    text-align: center;
    height: 50%;
    Width: 50%;
}
.right-text{
    margin-top: 50px;
    padding: 50px;
}

/* button */
.button {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.button:active {
	position:relative;
	top:1px;
}
/* end of button */
.row1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
    max-width: 100%;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
    max-width: 100%;
}

figcaption{
    text-align: center;
}

footer{
    background-color: grey;
}
footer, .bottom-nav, .button1{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    font-size: 20px;
}

.bottom-nav{
    border: 1px;
}

/* social media links */

/* Style */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #474eb3;
  color: white;
}