 /* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

html{
    font-size: 10px;
}

header h1 {
    font-size: 5rem;
}

header, nav, p, section, body{
    margin: .2rem;
}
header, h1{
    text-align: center;
    background-color: grey;
}

nav{
    padding-top: .5rem;
    margin-bottom: 2.5rem;
    background-color: lightgrey;
    font-size: 2.5rem;
}
body, section, p{
    margin-bottom: 15px;
}

.toprow{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0rem;
}

.left-big-picture{
    text-align: center;
    height: 50%;
    Width: 50%;
}
.right-text{
    margin-top: 5rem;
    padding: 5rem;
    font-size: 3rem;
}

/* button */
.button {
	box-shadow:inset 0rem .1rem 0rem 0rem #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:.6rem;
	border:.1rem solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5rem;
	font-weight:bold;
	padding:.6rem 2.4rem;
	text-decoration:none;
	text-shadow:0rem .1rem 0rem #b23e35;
}
.button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.button:active {
	position:relative;
	top:.1rem;
}
/* end of button */
.row1{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin: .5rem;
    max-width: 100%;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin: .5rem;
    max-width: 100%;
}

figcaption{
    text-align: center;
}

footer{
    background-color: grey;
}
footer, .bottom-nav, .button1{
    text-align: center;
    line-height: 5rem;
    background-color: grey;
    font-size: 2rem;
}

.bottom-nav{
    border: .1rem;
}

/* social media links */

/* Style */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #474eb3;
  color: white;
}