.row1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
    max-width: 100%;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
    max-width: 100%;
}

figcaption{
    text-align: center;
}